<div class="tabs is-medium is-centered shared">
  <ul>
    <% if albums %>
      <li class="is-active">
        <a target="#albums">Álbuns</a>
      </li>
    <% end %>

    <% if artists %>
      <li>
        <a target="#artists">Artistas</a>
      </li>
    <% else %>
      <span>Artistas</span>
    <% end %>

    <% if songs %>
      <li>
        <a target="#songs">Músicas</a>
      </li>
    <% end %>
  </ul>
</div>

<div class="tabs-content">
    <div id="albums" class="tab-item active">
      <div class="columns is-mobile is-multiline">
      <% if albums.any? %>
        <%= render albums %>
      <% else %>
        <div class="hero-body has-text-centered">
          <span>Nenhum resultado encontrado.</span>
        </div>
      <% end %>
      </div>
    </div>

    <div id="artists" class="tab-item">
      <div class="columns is-mobile is-multiline">
      <% if artists.any? %>
        <%= render artists %>
      <% else %>
        <div class="hero-body has-text-centered">
          <span>Nenhum resultado encontrado.</span>
        </div>
      <% end %>
      </div>
    </div>

    <div id="songs" class="tab-item">
      <div class="columns is-multiline">
      <% if songs.any? %>
        <div class="column is-12">
          <button id="play-all" class="button is-outlined is-warning">
            <span class="icon" style="color: orange"><i class="fas fa-play-circle"></i></span>
            <span style="color: orange">Tocar Todas</span>
          </button>
        </div>
        <br />
        <%= render songs %>
      <% else %>
        <div class="hero-body has-text-centered">
          <span>Nenhum resultado encontrado.</span>
        </div>
      <% end %>
    </div>
</div>