<section class="section has-text-white has-text-centered favorite_section">
  <h1 class="is-size-3 has-text-weight-bold">Favoritos</h1>
  <br />
  <%= render "shared/tabs", artists: @favorite_artists, albums: @favorite_albums, songs: @favorite_songs %>
</section>