<div class="column is-half-mobile is-one-quarter-desktop is-half-tablet">
  <%= link_to artists_path(id: artist.id), class: "has-text-white" do %>
    <%= image_tag url_for(artist.photo), size: "290" %>
    <p class="is-size-6 has-text-weight-semibold"><%= artist.name %></p>
  <% end %>
</div>