@import "./bulma/bulma";
div.tabs.shared {
  li {
    a {
      color: $white;
    }
 
    &.is-active {
      a {
        color: orange;
        border-bottom-color: orange;
      }
    }
  }
}
 
div.tabs-content {
  div.tab-item {
    display: none;
 
    &.active {
      display: block;
    }
  }
}