body {
    background-color: hsl(0, 0, 21);
}
section.dashboard {
    div.albums_heards {
        h1 {
            margin-top: 73px;
            margin-bottom: 15px;
        }
    }
    div.albums_recommended {
        h2 {
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
}