body {
    background-color: hsl(0, 0, 21);
}
section.dashboard {
    div.albums_heards {
        h1 {
            margin-top: 75px;
        }
        h2 {
            margin-bottom: 50px;
        }
    }
}