<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou uma alteração de senha da sua conta no Spotmusic.</p>

<p>Para alterar sua senha, basta acessar o link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não soliticou essa alteração, por favor ignore esse email.</p>
<p>Sua senha somente será alterada caso você acesse o link acima.</p>
